<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NMedia"
        tools:targetApi="31">
        <activity
            android:name=".activity.EditingPostActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".activity.NewPostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- при появлении клавиатуры, адаптируем размер активити -->
        <activity
            android:name=".activity.IntentHandlerActivity"
            android:exported="true"> <!-- если true то активити будет видна за пределами нашего приложения -->
            <intent-filter> <!-- объявляем в активити интент-фильтр для принятия данных из системы -->
                <action android:name="android.intent.action.SEND" /> <!-- действие отправить - что нужно делать -->

                <category android:name="android.intent.category.DEFAULT" /> <!-- значение по умолчанию - дополнительная информация о типе компонента -->

                <data android:mimeType="text/plain" /> <!-- ограничение на тип данных -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
